body {
    /*background-image: url(../assets/imagens/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    */

    /*background: color image no-repeat position/size*/
    background: url(../assets/imagens/bg-mobile.jpg) no-repeat top center/cover;
}

header {
    border: 1px solid red;
    padding: 60px;
}

h1 {
    border: 1px solid green;
    height: 60px;
    display: inline;
}

p {
    margin: 20px;
    border: 1px solid purple;
    display: inline;
}

span {
    border: 1px solid pink;
    display: block;
}